*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
  font-size: 12px;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



@media only screen and (orientation: portrait) {
  /* Styles spécifiques aux téléphones */
  .container {
    flex: 0 1 90%; /* Réduire la largeur de la container */
  }

  .screen {
    height: 20%; /* Augmenter la hauteur de l'écran */
  }

  .screen-body {
    flex-direction: column; /* Réorganiser les éléments en colonne */
    padding: 30px; /* Réduire le padding */
  }

  .screen-body-item {
    padding: 20px; /* Réduire le padding des éléments */
  }

  .app-form-group.buttons {
    text-align: center; /* Centrer les boutons */
  }

  /* Augmenter la taille des textes */
  body, button, input {
    font-size: 16px;
  }

  /* Augmenter la taille des boutons */
  .app-form-button {
    font-size: 30px;
  }

  /* Augmenter la taille des inputs */
  .app-form-control {
    font-size: 30px;
    padding: 15px 10px; /* Modifiez les valeurs de padding selon vos préférences */
  }

  .app-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap; /* Empêche le retour à la ligne */
    position: relative;
    color: #ea1d6f;
    font-size: 60px;
  }

  .app-title span {
    margin-right: 12px;
    white-space: nowrap; /* Empêche le retour à la ligne */
  }

  .app-contact {
    font-size: 15px;
  }

}


/* Added styles for loading gif and reception address */

#error {
  display: none;
  text-align: center;
  margin-top: 20px;
}

#success {
  display: none;
  text-align: center;
  margin-top: 20px;
}

#loading {
  display: none;
  text-align: center;
  margin-top: 20px;
}

#qrCodeContainer {
  margin-top: 20px;
  border-radius: 15px;
}

#receptionAddress {
  display: none;
  border-left: 30px;
  margin-bottom: 20px;
}

#receptionAddress input.app-form-control {
  padding-right: 20px; /* Ajoute une marge interne à droite */
  margin-right: 20px; /* Ajoute une marge externe à droite */
}

.beta-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  background: #ed1c6f;
  border-radius: 50%;
  margin: 0 10px;
}

div.ststu {
  padding-right: 35%;
}

select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

select:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

select:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}